<h3 class="mb-4 menu-title">User Rights</h3>
<div class="table-responsive">
  <table class="table table-bordered table-hover text-center align-middle" style="width: 65%;margin: 0 auto;">
    <thead class="table-dark">
      <tr>
        <th scope="col">Pages</th>
        <th scope="col">New</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>Department</td>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
      </tr>


      <tr>
        <td>Shift</td>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
        <td><input type="checkbox" class="form-check-input"></td>
      </tr>

    </tbody>
  </table>
</div>


<div class="btn-container">
    <button class="btn">Save</button>
    <button class="btn" routerLink="/menu">Cancel</button>
</div>